<div class="root hide-for-mobile container">
  <div class="content">
    <div class="bg card">
      <p>Frontend Mentor</p>
      <p>Feedback Board</p>
    </div>
    <div class="categories card">
      <app-category-chips *ngFor="let category of categories">
        {{category}}
      </app-category-chips>
    </div>
    <div class="roadmap card">
      <p class="card__head"><span>Roadmap</span> <a><u>View</u></a></p>
      <ul class="actions-states">
        <li class="state planned"><span>Planned</span> <span class="count">0</span></li>
        <li class="state in-progress"><span>In-Progress</span> <span class="count">0</span></li>
        <li class="state live"><span>Live</span> <span class="count">0</span></li>
      </ul>
    </div>
  </div>
</div>
