@import "../../../../../sass/variables";
@import "../../../../../sass/colors";

.root {
  margin-bottom: 2.666666rem;

  .content {
    display: flex;
    justify-content: space-between;

    .card {
      width: 14.866666rem;
      height: 11.866666rem;
      border-radius: .666666rem;
    }

    .categories,
    .roadmap {
      background-color: #fff;
    }

    .bg {
      background-image: url("../../../../../assets/suggestions/tablet/background-header.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      padding: 0 0 1.6rem 1.6rem;
      justify-content: flex-end;
      align-items: flex-start;
    }

    .bg>p {
      font-style: normal;
    }

    .bg>p:nth-child(1) {
      color: white;
      font-weight: bold;
      line-height: 28.9px;
      letter-spacing: -.25px;
      font-size: 1.333333rem;
    }

    .bg>p:nth-child(2) {
      color: rgba($color: #fff, $alpha: .75);
      font-weight: 500;
      line-height: 21.68px;
    }

    .categories {
      display: flex;
      flex-wrap: wrap;
      column-gap: .533333rem;
      row-gap: .933333rem;
      padding: 1.6rem 0 2.4rem 1.6rem;
    }

    .roadmap {
      padding: 1.266666rem 1.6rem 1.6rem 1.6rem;
    }

    .roadmap>.card__head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.6rem;
    }

    .roadmap>.card__head {
      span:first-child {
        font-weight: bold;
        font-style: normal;
        font-size: 1.2rem;
        line-height: 26.01px;
        letter-spacing: -.25px;
        color: $night-blue;
      }

      a {
        font-weight: 600;
        font-style: normal;
        font-size: .866666rem;
        line-height: 18.79px;
        color: $strong-blue;
      }
    }

    .actions-states>.state {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin-bottom: .533333rem;

      &::before {
        content: "";
        position: absolute;
        width: .533333rem;
        height: .533333rem;
        border-radius: 100%;
      }
    }

    .actions-states>.state>span {
      font-style: normal;
      font-size: 1.066666rem;
      line-height: 23.12px;
      color: $grey-blue;
    }

    .actions-states>.state span:first-child {
      font-weight: 400;
      margin-left: 1.6rem;
    }

    .actions-states>.state span:last-child {
      font-weight: bold;
    }

    .planned {
      &::before {
        background-color: $orange;
      }
    }

    .in-progress {
      &::before {
        background-color: $violet;
      }
    }

    .live {
      &::before {
        background-color: $sky-blue;
      }
    }
  }
}

@media screen and (min-width: $desktop-min) {
  .root {
    margin-bottom: 2.666666rem;

    .content {
      display: flex;
      justify-content: space-between;

      .card {
        width: 14.866666rem;
        height: 11.866666rem;
        border-radius: .666666rem;
      }

      .categories,
      .roadmap {
        background-color: #fff;
      }

      .bg {
        background-image: url("../../../../../assets/suggestions/tablet/background-header.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        padding: 0 0 1.6rem 1.6rem;
        justify-content: flex-end;
        align-items: flex-start;
      }

      .bg>p {
        font-style: normal;
      }

      .bg>p:nth-child(1) {
        color: white;
        font-weight: bold;
        line-height: 28.9px;
        letter-spacing: -.25px;
        font-size: 1.333333rem;
      }

      .bg>p:nth-child(2) {
        color: rgba($color: #fff, $alpha: .75);
        font-weight: 500;
        line-height: 21.68px;
      }

      .categories {
        display: flex;
        flex-wrap: wrap;
        column-gap: .533333rem;
        row-gap: .933333rem;
        padding: 1.6rem 0 2.4rem 1.6rem;
      }

      .roadmap {
        padding: 1.266666rem 1.6rem 1.6rem 1.6rem;
      }

      .roadmap>.card__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.6rem;
      }

      .roadmap>.card__head {
        span:first-child {
          font-weight: bold;
          font-style: normal;
          font-size: 1.2rem;
          line-height: 26.01px;
          letter-spacing: -.25px;
          color: $night-blue;
        }

        a {
          font-weight: 600;
          font-style: normal;
          font-size: .866666rem;
          line-height: 18.79px;
          color: $strong-blue;
        }
      }

      .actions-states>.state {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: .533333rem;

        &::before {
          content: "";
          position: absolute;
          width: .533333rem;
          height: .533333rem;
          border-radius: 100%;
        }
      }

      .actions-states>.state>span {
        font-style: normal;
        font-size: 1.066666rem;
        line-height: 23.12px;
        color: $grey-blue;
      }

      .actions-states>.state span:first-child {
        font-weight: 400;
        margin-left: 1.6rem;
      }

      .actions-states>.state span:last-child {
        font-weight: bold;
      }

      .planned {
        &::before {
          background-color: $orange;
        }
      }

      .in-progress {
        &::before {
          background-color: $violet;
        }
      }

      .live {
        &::before {
          background-color: $sky-blue;
        }
      }
    }
  }
}
