/* colors */
$red: #D73737;
$hovered-red: #E98888;

$violet: #AD1FEA;
$hovered-violet: #C75AF6;

$strong-blue: #4661E6;
$hovered-blue: #7C91F9;

$dark-blue: #4661E6;

$night-blue: #3A4374;
$hovered-night-blue: #656EA3;

$light-white: #F2F4FF;
$lighter-white: #F7F8FD;
$grey-blue: #647196;
$orange: #F49F85;
$sky-blue: #62BCFA;

$line-color: #8C92B3;

$interactive-item-def: #F2F4FE;
$interactive-item-hover: #CFD7FF;
