@import "./variables";
@import "./colors";

body,
html,
#app {
  height: 100%;
}

html {
  font-family: 'Jost', sans-serif;
  font-size: 15px;
  background-color: $lighter-white;
}

button,
a {
  cursor: pointer;
}

.container {
  // 576px
  max-width: 38.4rem;
  margin: 0 auto;
}

@media screen and (min-width: $tablet-min) {

  .container {
    // 991px
    max-width: 66.066666rem;
  }
}

@media screen and (min-width: $desktop-min) {

  .container {
    // 1680px;
    max-width: 112rem;
  }
}
