<div class="root">
  <div class="wrapper">
    <header [@fadeInOutY]>
      <a routerLink="/suggestions"> <svg width="7" height="10" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 9L2 5l4-4" stroke="#4661E6" stroke-width="2" fill="none" fill-rule="evenodd" /></svg> Go Back</a>
      <p>Roadmap</p>
      <div class="cta">
        <a routerLink="/feedbacks/new-feedback" class="app-btn">+ Add Feedback</a>
      </div>
    </header>
    <main>
      <div class="mobile-view hide-for-tablet-and-desktop">
        <app-roadmap-mobile></app-roadmap-mobile>
      </div>
      <div [@fadeInOutX] class="large-screen-view hide-for-mobile">
        <div class="roadmap">
          <div class="col planned">
            <div class="content">
              <div class="col__header">
                <h2>Planned ({{getPlannedSuggestionsCount()}})</h2>
                <p>Ideas prioritized for research</p>
              </div>
              <div class="cards">
                <app-status-card *ngFor="let suggestion of getPlannedSuggestions()" [suggestion]="suggestion">
                </app-status-card>
              </div>
            </div>
          </div>
          <div class="col in-progress">
            <div class="content">
              <div class="col__header">
                <h2>In-Progress ({{getInProgressSuggestionsCount()}})</h2>
                <p>Currently being developed</p>
              </div>
              <div class="cards">
                <app-status-card *ngFor="let suggestion of getInProgressSuggestions()" [suggestion]="suggestion">
                </app-status-card>
              </div>
            </div>
          </div>
          <div class="col live">
            <div class="content">
              <div class="col__header">
                <h2>PlannLive ({{getLiveSuggestionsCount()}})</h2>
                <p>Released features</p>
              </div>
              <div class="cards">
                <app-status-card *ngFor="let suggestion of getLiveSuggestions()" [suggestion]="suggestion">
                </app-status-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
