<div class="root">
  <div class="wrapper"
    [ngClass]="{ 'in-progress': suggestion.status === 'in-progress', 'planned': suggestion.status === 'planned', 'live': suggestion.status === 'live'}">
    <div class="status">
      {{ suggestion.status === 'in-progress' ? 'In Progress' : suggestion.status === 'planned' ? 'Planned' : 'Live' }}
    </div>
    <p class="title">{{suggestion.title}}</p>
    <p class="description">{{suggestion.description}}</p>
    <div class="category">
      <app-category-chips>
        {{suggestion.category}}
      </app-category-chips>
    </div>
    <div class="upvote">
      <app-upvote-item [upvotes]="suggestion.upvotes"></app-upvote-item>
    </div>
    <div class="comments-count">
      <app-comments-count> {{getMessagesCount(suggestion.comments)}} </app-comments-count>
    </div>
  </div>
</div>
