@import "../../../sass/variables";
@import "../../../sass/colors";

.root {

  .wrapper {

    .header {
      background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
    }

    .main {

      .filter {
        background-color: #373F68;
        margin-bottom: 2.133333rem;
      }

      .suggestions {
        padding: 0 1.6rem 3.666666rem 1.6rem;
      }
    }
  }

}

@media screen and (min-width: $tablet-min) {
  .root {
    padding: 3.733333rem 2.666666rem 0 2.6rem;

    .wrapper {

      .header {
        background: none;
      }

      .main {
        .filter {
          background-color: inherit;
          margin-bottom: 1.6rem;
        }

        .suggestions {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

@media screen and (min-width: $desktop-min) {
  .root {
    padding: 6.266666rem 11rem 0 11rem;

    .wrapper {
      display: flex;

      .main {
        flex: 1;
      }
    }
  }
}
