@import "../../../sass/variables";
@import "../../../sass/colors";

.root {
  background-color: #373F68;
  padding: 1.2rem 1.6rem 1.266666rem 1.2rem;

  .wrapper {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-side {
      display: flex;
    }

    .left-side .sort {
      font-weight: 400;
      font-style: normal;
      font-size: .933333rem;
      line-height: 20.23px;
      position: relative;
    }

    .left-side .sort>svg {
      margin-left: .533333rem;
    }

    .left-side .sort>svg>path {
      stroke: white;
    }

    .left-side .sortby {
      font-weight: bold;
    }

    .right-side>a.link {
      color: white;
      padding: .7rem 1.133333rem .7rem 1.066666rem;
      background-color: $violet;
      border-radius: .666666rem; // 10px
      font-weight: bold;
      font-size: .933333rem;
      line-height: 18.79px;
    }

    .right-side>a.link:hover {
      background-color: $hovered-violet;
    }
  }

}

@media screen and (min-width: $tablet-min) {
  .root {
    padding: 0 2.666666rem 0 2.6rem;
    background-color: #fff;

    .wrapper {
      background-color: #373F68;
      padding: 1.533333rem .8rem 1.533333rem 1.6rem;
      border-radius: .666666rem;

      .left-side {
        display: flex;
      }

      .left-side>div {
        display: flex;
        align-items: center;
      }

      .left-side .count {
        display: flex;
        font-weight: bold;
        font-style: normal;
        font-size: 1.2rem;
        line-height: 26.01px;
        letter-spacing: -.25px;
      }

      .left-side .count span {
        margin-left: 1.066666rem;
      }

      .left-side .sort {
        margin-left: 2.533333rem;
      }

      .left-side .sort>svg {
        margin-left: .533333rem;
      }

      .left-side .sort>svg>path {
        stroke: white;
      }

      .left-side .sortby {
        font-weight: bold;
      }
    }
  }
}
