<div class="root">
  <div class="wrapper" [ngClass]="{
      'main-message-btm-line': isMain && !comment?.replies,
      'main-message-left-line': isMain && comment?.replies
    }">
    <div class="message">
      <div class="header">
        <img [src]="comment?.user?.image" alt="user image">
        <div class="identity">
          <p class="name">{{comment?.user?.name}}</p>
          <p class="username">@{{comment?.user?.username}}</p>
        </div>
        <div class="reply">
          <button (click)="onReply()" class="app-btn">Reply</button>
        </div>
      </div>
      <div class="body">
        <p>
          <span class="replyingTo" *ngIf="comment?.replyingTo">@{{comment?.replyingTo}}</span>
          {{comment?.content}}
        </p>
          <form [@reply-form-animation] *ngIf="reply" class="form-reply">
            <textarea placeholder="Reply here"></textarea>
            <button class="app-btn">Post Reply</button>
          </form>
      </div>
    </div>
    <div *ngIf="comment?.replies" class="replies">
      <app-message *ngFor="let reply of comment?.replies" [comment]="reply" [isMain]="false"></app-message>
    </div>
  </div>
</div>
