<div class="root">
  <div class="wrapper" [ngClass]="{
      'main-message-btm-line': isMain && !message.replies,
      'main-message-left-line': isMain && message.replies
    }">
    <div class="message">
      <div class="header">
        <img [src]="message?.user.image" alt="user image">
        <div class="identity">
          <p class="name">{{message.user.name}}</p>
          <p class="username">@{{message.user.username}}</p>
        </div>
        <div class="reply">
          <button>Reply</button>
        </div>
      </div>
      <div class="body">
        <p>
          <span class="replyingTo" *ngIf="message.replyingTo">@{{message.replyingTo}}</span>
          {{message.content}}
        </p>
        <form *ngIf="true" class="form-reply">
          <textarea placeholder="Reply here"></textarea>
          <button>Post Reply</button>
        </form>
      </div>

    </div>
    <div *ngIf="message.replies" class="replies">
      <app-message *ngFor="let reply of message.replies" [message]="reply" [isMain]="false"></app-message>
    </div>
  </div>
</div>
