.root {
  padding: 1rem 1.6rem;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .text>p {
      font-style: normal;
    }

    .text>p:nth-child(1) {
      font-weight: bold;
      line-height: 21.68px;
      letter-spacing: -.19;
    }

    .text>p:nth-child(2) {
      opacity: .75;
      font-size: 0.866666rem; // 13px
      line-height: 18.79px;
    }
  }
}
