<div class="root container">
  <div *ngIf="feedback" class="wrapper">
    <div class="top">
      <a routerLink="/suggestions">Go Back</a>
      <a (click)="navigateToForm()" class="edit app-btn">
        Edit Feedback
      </a>
    </div>
    <div [@fadeInOutY] class="suggestion">
      <app-suggestion-item [suggestion]="feedback" [comments]="comments" [isUpvoted]="isUpvoted"></app-suggestion-item>
    </div>
    <div *ngIf="comments" [@fadeInOutX] class="comments">
      <app-comments [comments]="comments"></app-comments>
    </div>
    <form [formGroup]="form" (submit)="onSubmit()" class="comment-form">
      <p>Add Comment</p>
      <textarea class="message app-form-field" placeholder="Type your comment here"
        formControlName="comment" #commentField></textarea>
      <div class="cta">
        <p class="input-left" [ngClass]="{'--alert': charactersLeft < 50 && charactersLeft > 0, '--error': charactersLeft <= 0}">{{ charactersLeft }} Characters left</p>
        <button type="submit" class="app-btn" [disabled]="form.controls['comment'].invalid">Post Comment</button>
      </div>
    </form>
  </div>
</div>
