<div class="root container">
  <div *ngIf="feedback" class="wrapper">
    <div class="top">
      <a routerLink="/suggestions">Go Back</a>
      <a (click)="navigateToForm()" class="edit app-btn">
        Edit Feedback
      </a>
    </div>
    <div  [@fadeInOutY] class="suggestion">
      <app-suggestion-item [suggestion]="feedback" [isUpvoted]="isUpvoted"></app-suggestion-item>
    </div>
    <div *ngIf="feedback.comments" [@fadeInOutX] class="comments">
      <app-comments [comments]="feedback.comments"></app-comments>
    </div>
    <form class="comment-form">
      <p>Add Comment</p>
      <textarea class="message app-form-field" placeholder="Type your comment here"></textarea>
      <div class="cta">
        <p class="input-left">250 Characters left</p>
        <button class="app-btn">Post Comment</button>
      </div>
    </form>
  </div>
</div>
