@import "../../../../../sass/variables";
@import "../../../../../sass/colors";

.root {
  .wrapper {
    padding: 1.6rem 1.6rem 5.866666rem 1.6rem;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.6rem;
      position: relative;

      a {
        margin-left: 1.066666rem;
      }

      a:hover {
        text-decoration: underline;
      }

      &::before {
        content: url("/assets/shared/icon-arrow-left.svg");
        position: absolute;
        left: 0;
      }

      .edit {
        background-color: $strong-blue;
      }

      .edit:hover {
        background-color: $hovered-blue;
      }
    }

    .suggestion {
      margin-bottom: 1.6rem;
    }

    .comments {
      margin-bottom: 1.6rem;
    }

    .comment-form {
      background-color: #fff;
      border-radius: .666666rem;
      padding: 1.6rem;

      >p {
        font-weight: bold;
        font-style: normal;
        font-size: 1.2rem;
        line-height: 26.01px;
        letter-spacing: -.25px;
        color: $night-blue;
        margin-bottom: 1.6rem;
      }

      textarea {
        margin-bottom: 1.066666rem;
        resize: none;
        width: 100%;
        height: 5.333333rem;
        padding: 1.066666rem 0 0 1.066666rem;
      }

      .cta {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .input-left {
          font-weight: 400;
          line-height: 18.79px;
          font-size: .866666rem;
          color: $grey-blue;
        }

        button {
          background-color: $violet;
        }

        button:hover {
          background-color: $hovered-violet;
        }
      }
    }
  }
}

@media screen and (min-width: $tablet-min) {
  .root {

    .wrapper {
      padding: 3.733333rem 2.666666rem 8rem 2.6rem;

      .top {

        a {
          margin-left: 1.066666rem;
        }
      }

      .comment-form {
        padding: 1.6rem 2.133333rem 2.133333rem 2.266666rem;

        textarea {
          padding-left: 1.6rem;
        }

        .cta {

          .input-left {
            line-height: 21.68px;
            font-size: 1rem;
          }

          button {
            padding: .833333rem 1.6rem .766666rem 1.6rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $desktop-min) {
  .root {
    .wrapper {
      padding: 5.333333rem 23.666666rem 9.133333rem 23.666666rem;
    }
  }
}
