<div class="root container">
  <div class="wrapper">
    <div class="top">
      <a routerLink="/suggestions">Go Back</a>
    </div>
    <form [@fadeInOutY] [formGroup]="form" (submit)="onSubmit()">
      <img [src]="isEditMode ?  '/assets/shared/icon-edit-feedback.svg' : '/assets/shared/icon-new-feedback.svg'"
        alt="plus icon">
      <h1>
        {{ !isEditMode ? 'Create New Feedback' : getTitle() }}
      </h1>

      <div class="form-field title">
        <label for="title">Feddback Title</label>
        <small>Add a short, descriptive headline</small>
        <input class="app-form-field" type="text" formControlName="title"
          [ngClass]="{'--error-border': form.controls['title'].touched && form.controls['title'].errors}">
        <small class="--error-msg" *ngIf="form.controls['title'].touched && form.controls['title'].errors">Can't be
          emty</small>
      </div>

      <div class="form-field category">
        <label for="category">Category</label>
        <small>Choose a category for your feedback</small>
        <select value='features' formControlName="category" hidden></select>
        <div (click)="onToggleCategories()" class="select-container" [ngClass]="{'--focus': showCategories}">
          <div class="selected-value" [ngClass]="{'--selecting': showCategories}">
            <span>{{selectedCategory}}</span>
            <div *ngIf="showCategories" class="dropdown">
              <ul class="sort-values">
                <li (click)="setCategory(category)" *ngFor="let category of categories">
                  <span>{{category}}</span> <svg *ngIf="category === selectedCategory"
                    xmlns="http://www.w3.org/2000/svg" width="13" height="11">
                    <path fill="none" stroke="#AD1FEA" stroke-width="2" d="M1 5.233L4.522 9 12 1" /></svg>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isEditMode" class="form-field update-status">
        <label for="update-status">Update Status</label>
        <small>Change feature state</small>
        <select formControlName="status" hidden></select>
        <div (click)="onToggleStatus()" class="select-container" [ngClass]="{'--focus': showStatus}">
          <div class="selected-value">
            <span>{{selectedStatus}}</span>
            <div *ngIf="showStatus" class="dropdown">
              <ul class="sort-values" [ngClass]="{'--selecting': showStatus}">
                <li (click)="setStatus(status)" *ngFor="let status of suggestionStatus">
                  <span>{{status}}</span> <svg *ngIf="status === selectedStatus" xmlns="http://www.w3.org/2000/svg"
                    width="13" height="11">
                    <path fill="none" stroke="#AD1FEA" stroke-width="2" d="M1 5.233L4.522 9 12 1" /></svg>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="form-field detail">
        <label for="detail">Feedback Detail</label>
        <small>Include any specific comments on what should be improved, added, etc.</small>
        <textarea class="app-form-field" formControlName="detail"
          [ngClass]="{'--error-border': form.controls['detail'].touched && form.controls['detail'].errors}"></textarea>
        <small class="--error-msg" *ngIf="form.controls['detail'].touched && form.controls['detail'].errors">Can't be
          emty</small>
      </div>

      <div class="cta">
        <div class="delete">
          <button *ngIf="true" class="app-btn">Delete</button>
        </div>
        <div class="cancel">
          <button class="app-btn">Cancel</button>
        </div>
        <div class="save">
          <button type="submit" class="app-btn"
            [disabled]="!form.valid">
            {{ false ? 'Add Feedback' : 'Save Changes'}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
