<div class="root container">
  <div *ngFor="let suggestion of suggestions" class="suggestion">
    <p class="title">{{suggestion.title}}</p>
    <p class="description">{{suggestion.description}}</p>
    <div class="category">
      <app-category-chips>
        {{suggestion.category}}
      </app-category-chips>
    </div>
    <div class="upvotes">
      <div class="grid-item">
        <span>{{suggestion.upvotes}}</span>
      </div>
    </div>
    <div class="comments-count">
      <div class="grid-item">
        <span>{{suggestion.comments ? getMessagesCount(suggestion.comments) : 0}}</span>
      </div>
    </div>
  </div>
</div>
