<div class="root">
  <p class="title" (click)="goFeedback(suggestion?.id)">{{suggestion?.title}}</p>
  <p class="description">{{suggestion?.description}}</p>
  <div class="category">
    <span class="chips">
      {{suggestion?.category}}
    </span>
  </div>
  <div class="upvotes">
    <app-upvote-item [upvotes]="suggestion?.upvotes" [isUpvoted]="isUpvoted" (increment)="onIncrement()"  (decrement)="onDecrement()"></app-upvote-item>
  </div>
  <div class="comments-count">
    <app-comments-count>
      {{getMessagesCount()}}
    </app-comments-count>
    <!--         <span>{{suggestion?.comments ? getMessagesCount(suggestion.comments) : 0}}</span>
 -->
  </div>
</div>
