@import "../../../../sass/variables";
@import "../../../../sass/colors";

.root {
  background-color: #fff;
  margin-bottom: 1.066666rem;
  border-radius: .533333rem;
  padding: 1.6rem 1.6rem 1.6rem 1.666666rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "title title"
    "description description"
    "category category"
    "upvotes comments";


  .title,
  .description {
    font-style: normal;
    font-size: .866666rem;
    line-height: 18.79px;

  }

  .title {
    grid-area: title;
    font-weight: bold;
    letter-spacing: -.18px;
    margin-bottom: .6rem;
    color: $night-blue;
    cursor: pointer;

    &:hover {
      color: $strong-blue;
    }
  }
}

.description {
  grid-area: description;
  font-weight: 400;
  margin-bottom: .533333rem;
  color: $grey-blue;
}

.category {
  grid-area: category;
  display: flex;
  align-items: center;
  margin-bottom: 1.066666rem;
}

.category>.chips {
  padding: .333333rem 1.066666rem; //5px //16px
  color: $strong-blue;
  font-weight: 600;
  font-style: normal;
  font-size: .866666rem;
  line-height: 18.79px;
  background-color: $light-white;
  text-transform: capitalize;
  border-radius: .666666rem;
}

.upvotes {
  grid-area: upvotes;
}

.comments-count {
  grid-area: comments;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (min-width: $tablet-min) {
  .root {
    padding: 1.866666rem 2.133333rem;
    grid-template-columns: 4.8rem minmax(33.40rem, auto) 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "upvotes title       title"
      "upvotes description comments"
      "upvotes category    comments";

    .title {
      grid-area: title;
      font-size: 1.2rem;
      line-height: 26.01px;
      letter-spacing: -.25px;
      margin-bottom: .266666rem;
    }

    .description {
      grid-area: description;
      font-weight: 400;
      font-size: 1.066666rem;
      margin-bottom: .8rem;
      line-height: 23.12px;
    }

    .category {
      grid-area: category;
      display: flex;
      align-items: center;
      margin-bottom: unset;
    }

    .upvotes {
      grid-area: upvotes;

      .grid-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        height: 3.533333rem;
        width: 2.666666rem;
        padding: .933333rem .6rem .533333rem .6rem;
      }

      .grid-item::before {
        content: url("/assets/shared/icon-arrow-up.svg");
        position: absolute;
        left: unset;
        bottom: unset;
        top: 0.05rem;
      }
    }

    .comments-count {
      grid-area: comments;
      display: flex;
      align-items: flex-start;
      padding-top: 6px;
      /* span {
        letter-spacing: -.22px;
        line-height: 23.12px;
        font-size: 1.066666rem;
      } */
    }
  }
}

@media screen and (min-width: $desktop-min) {
  .root {
    margin-bottom: 1.333333rem;
    padding: 1.866666rem 2.133333rem;
    grid-template-columns: 4.8rem minmax(33.40rem, auto) 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "upvotes title       title"
      "upvotes description comments"
      "upvotes category    comments";

    .category {
      grid-area: category;
      display: flex;
      align-items: center;
    }

    .upvotes {
      grid-area: upvotes;
    }

    .comments-count {
      grid-area: comments;
    }
  }
}
